.about {
background-color: #0a2850;
display: flex;
position: relative;
}

.about__title {
max-width: 251px;
margin: 0;
padding-top: 100px;
padding-left: 80px;
}

.about__content {
max-width: 660px;
margin-left: auto;
padding-top: 119px;
padding-right: 80px;
padding-bottom: 173px;
display:flex;
flex-direction: column;
position: relative;

}

.about__paragraph {

}

.about__circle {
width: 426px;
height: 426px;
top: -152px;
left: -129px;

}


